<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sieci projekt</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header>

        <a href="#" class="nav_text">SCRSK</a>

        <nav>
            <ul class="nav_links">
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/profil}">Profil</a></li>
                <li><a th:href="@{/oferty}">Oferty</a></li>
            </ul>
        </nav>

        <a class="ctg" th:href="@{/logout}"><button>Wyloguj</button></a>

    </header>

    <div class="profile-content">

        <div class="context-box">
            <h2>Użytkownik: <span><span th:text="${username}"></span></span></h2>
        </div>
        <div class="context-box">
            <h2>Numer telefonu: <span><span th:text="${phone}"></span></h2>
        </div>
        <div class="context-box">
            <h2>Twoje oferty: <span><span th:text="${offerNumber}"></span></h2>
        </div>
        <div class="context-box">
            <a th:href="@{/nowa-oferta}"><button>Dodaj ofertę</button></a>
        </div>

    </div>
</body>
</html>